header {
    background-color: #FF8000;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px 1px #bfbfbf;
}

header img {
    width: 150px;
}

.icon-wrapper {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.icon-wrapper img {
    width: 32px;
    height: 32px;
}

.icon-wrapper:hover {
    background-color: #ad5700;
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 16px;
}

.german-icon img {
    border-radius: 50%;
}

.page-style {
    display: flex;
    flex-direction: row-reverse;
}

.basket-wrapper {
    width: 300px;
    flex-grow: 1;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .02), 0px 2px 12px -2px rgba(0, 0, 0, .08), 0px 3px 6px 0px rgba(0, 0, 0, .06);
}

#basket {
    position: sticky;
    top: 0;
    padding: 24px;
    text-align: center;
}

.delivery-pickup {
    background-color: #E5E4E1;
    padding: 2px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    padding: 14px 22px;
    border-radius: 40px;
    border: none;
    background-color: #FFFFFF;
    display: flex;
    gap: 5px;
}

#pickup {
    background-color: #E5E4E1;
}

button img {
    height: 16px;
}

.content {
    width: calc(100% - 300px);
}

.main-img {
    background-image: url(./assets/img/pizzeria-main-img.jpg);
    height: 350px;
    background-size: cover;
}

.pizza-logo {
    width: 80px;
    position: absolute;
    top: 350px;
    left: 150px;
    border-radius: 16px;
    box-shadow: 4px 4px 15px 0 black, -4px -4px 15px 0 black;
}

.restaurant-info {
    margin: 24px 80px;
}

.infos {
    display: flex;
    align-items: center;
    gap: 16px;
}

.single-info img {
    height: 16px;
}

.single-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dot {
    height: 6px;
    width: 6px;
    background-color: black;
    border-radius: 50%;
}