.icon-wrapper {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.icon-wrapper img {
    width: 32px;
    height: 32px;
}

.icon-wrapper:hover {
    background-color: #ad5700;
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 16px;
}

.german-icon img {
    border-radius: 50%;
}

.page-style {
    display: flex;
    flex-direction: row-reverse;
}

.basket-wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .02), 0px 2px 12px -2px rgba(0, 0, 0, .08), 0px 3px 6px 0px rgba(0, 0, 0, .06);
}

.basket-section-content {
    flex-grow: 1;
}

#basket {
    position: sticky;
    top: 0;
    padding: 24px;
    text-align: center;
}

.delivery-pickup {
    background-color: #E5E4E1;
    padding: 2px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.delivery-pickup-responsive {
    display: none;
}

.delivery {
    cursor: pointer;
    padding: 14px 22px;
    border-radius: 40px;
    border: none;
    background-color: #FFFFFF !important;
    display: flex;
    gap: 5px;
    transition: background-color 0.2s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.basket-image {
    width: 80px;
}

.basket-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#basket-content {
    margin: 32px 0;
    overflow-y: auto;
    max-height: 62vh;
}

.basket-meals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.basket-amount {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #E5E4E1;
    border-radius: 50px;
}

.basket-amount img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

.basket-amount img:hover {
    background-color: #cfcecc;
}

.basket-meal-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 8px;
}

.price-euro {
    display: flex;
    gap: 8px;
}

.minus-trash {
    display: flex;
}

.overall-costs {
    color: #808080;
    padding-top: 24px;
}

.total {
    color: black;
    font-size: 18px;
}

.costs {
    display: flex;
    justify-content: space-between;
}

.checkout {
    position: fixed;
    bottom: 88px;
    background-color: white;
    padding: 8px 24px;
    z-index: 1;
}

.order-btn {
    background-color: #FF8000;
    width: 250px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.order-btn:hover {
    background-color: #d66b00;
}

#basket-dialog-responsive {
    position: fixed;
    top: 0;
    left: 0;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    z-index: 4;
    padding: 24px;
    border: none;
}

#basket-dialog-content {
    max-height: 60vh;
    overflow-y: auto;
}

.basket-responsive-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.basket-responsive-title img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding: 8px;
}

.basket-responsive-title img:hover {
    background-color: #E5E4E1;
    border-radius: 50%;
}

.content {
    width: calc(100% - 300px);
}

.main-img {
    background-image: url(./assets/img/pizzeria-main-img.jpg);
    height: 350px;
    background-size: cover;
}

.pizza-logo {
    width: 80px;
    position: absolute;
    top: 330px;
    left: 150px;
    border-radius: 16px;
    box-shadow: 4px 4px 15px 0 black, -4px -4px 15px 0 black;
}

.meal-content {
    margin: 24px 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.infos {
    display: flex;
    align-items: center;
    gap: 16px;
}

.single-info img {
    height: 16px;
    padding-bottom: 3px;
}

.single-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dot {
    height: 6px;
    width: 6px;
    background-color: black;
    border-radius: 50%;
}

#categories {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    background-color: #f5f5f5;
    border-radius: 24px;
    padding: 8px;
}

#categories a {
    padding: 8px;
}

#categories a:hover {
    cursor: pointer;
    background-color: #FF8000;
    border-radius: 20px;
    color: white;
}

.meal-category img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.meal-category {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

#meals {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.meals {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.meals:hover {
    background-color: #f2f2f2;
}

.meals img {
    display: block;
    width: 100px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 16px;
}

.meal-info p {
    margin-top: 8px;
}

.meal-img {
    display: none;
}

.description {
    color: #808080;
}

.image-plus {
    position: relative;
}

.plus {
    position: absolute;
    top: -8px;
    width: 24px !important;
    right: -8px;
    background-color: white;
    padding: 4px;
    border: solid 1px #e0e0e0;
    cursor: pointer;
}

.impressum {
    margin: 32px;
}

.personal-info {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.impressum-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.impressum-title h1 {
    margin: 0;
}

.back-btn {
    padding: 16px 20px;
    border: none;
    background-color: #FF8000;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.back-btn:hover {
    background-color: #d66b00;
}