.icon-wrapper {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.icon-wrapper img {
    width: 32px;
    height: 32px;
}

.icon-wrapper:hover {
    background-color: #ad5700;
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 16px;
}

.german-icon img {
    border-radius: 50%;
}

.page-style {
    display: flex;
    flex-direction: row-reverse;
}

.basket-wrapper {
    width: 300px;
    flex-grow: 1;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .02), 0px 2px 12px -2px rgba(0, 0, 0, .08), 0px 3px 6px 0px rgba(0, 0, 0, .06);
}

#basket {
    position: sticky;
    top: 0;
    padding: 24px;
    text-align: center;
}

.delivery-pickup {
    background-color: #E5E4E1;
    padding: 2px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
}

.delivery {
    cursor: pointer;
    padding: 14px 22px;
    border-radius: 40px;
    border: none;
    background-color: #FFFFFF !important;
    display: flex;
    gap: 5px;
    transition: background-color 0.2s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#basket-content img {
    width: 80px;
    height: 80px;
    margin-top: 32px;
}

.content {
    width: calc(100% - 300px);
}

.main-img {
    background-image: url(./assets/img/pizzeria-main-img.jpg);
    height: 350px;
    background-size: cover;
}

.pizza-logo {
    width: 80px;
    position: absolute;
    top: 350px;
    left: 150px;
    border-radius: 16px;
    box-shadow: 4px 4px 15px 0 black, -4px -4px 15px 0 black;
}

.meal-content {
    margin: 24px 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.infos {
    display: flex;
    align-items: center;
    gap: 16px;
}

.single-info img {
    height: 16px;
    padding-bottom: 3px;
}

.single-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dot {
    height: 6px;
    width: 6px;
    background-color: black;
    border-radius: 50%;
}

#categories {
    display: flex;
    gap: 40px;
    font-size: 20px;
    background-color: #CFCECC;
    width: fit-content;
    border-radius: 24px;
}

#categories p {
    padding: 8px;
}

#categories p:hover {
    cursor: pointer;
    background-color: #FF8000;
    border-radius: 24px;
}

.meal-category img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.meal-category {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

#meals {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.meals {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.meals:hover {
    background-color: #f2f2f2;
}

.meals img {
    display: block;
    width: 100px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 16px;
}

.meal-info p {
    margin-top: 8px;
}

.meal-img {
    display: none;
}

.description {
    color: #808080;
}

.image-plus {
    position: relative;
}

.plus {
    position: absolute;
    top: -8px;
    width: 24px !important;
    right: -8px;
    background-color: white;
    padding: 4px;
    border: solid 1px #e0e0e0;
    cursor: pointer;
}