* {
    margin: 0;
    font-family: 'Roboto';
    scroll-behavior: smooth;
    max-width: 1920px;
}


h1 {
    margin-bottom: 16px;
    font-size: 32px;
}

a {
    text-decoration: none;
    color: black;
}

.d_none {
    display: none;
}