@media(max-width: 1000px) {
    .basket-wrapper {
        display: none;
    }

    .content {
        width: 100% !important;
    }

    .delivery-pickup-responsive {
        display: flex;
        margin: 0 15vw;
    }

    .delivery-responsive {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .pickup-responsive {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .basket-btn {
        display: block;
    }

    #successfully-ordered {
        left: 25%;
    }
}

@media(max-width: 900px) {
    #successfully-ordered {
        left: 20%;
    }
}

@media(max-width: 800px) {
    #successfully-ordered {
        left: 15%;
    }
}

@media(max-width: 710px) {
    .delivery-pickup-responsive {
        margin: 0 5vw;
    }

    #successfully-ordered {
        left: 25%;
        width: 300px;
        height: 72px;
        text-align: center;
    }
}

@media(max-width: 600px) {
    #successfully-ordered {
        left: 20%;
    }
}

@media(max-width: 550px) {
    .delivery-pickup-responsive {
        margin: 0;
    }

    .meal-content {
        margin: 24px 40px;
    }

    #successfully-ordered {
        left: 25%;
        width: 200px;
        height: 88px;
    }
}

@media(max-width: 500px) {
    header img {
        width: 120px;
    }

    .icon-wrapper {
        width: 40px;
        height: 40px;
    }

    .icon-wrapper img {
        width: 24px;
        height: 24px;
    }

    .main-img {
        margin: 24px;
        border-radius: 24px;
        height: 280px;
    }

    .pizza-logo {
        width: 64px;
        top: 310px;
        left: 40px;
    }

    #categories {
        flex-wrap: wrap;
        flex-direction: column;
        background-color: white;
        padding: 0;
    }

    #categories a {
        background-color: #f5f5f5;
        margin: 8px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
    }

    .meal-category img {
        height: 120px;
    }

    .meals img {
        width: 64px;
        aspect-ratio: 1 / 1;
    }

    .image-plus {
        display: flex;
        align-items: center;
    }

    .description {
        font-size: 12px;
    }

    h3 {
        font-size: 16px;
    }

    #successfully-ordered {
        left: 20%;
        right: 20%;
    }
}

@media(max-width: 400px) {
    .main-img {
        height: 230px;
    }

    .pizza-logo {
        width: 64px;
        top: 260px;
        left: 40px;
    }

    .meal-content {
        margin: 24px;
    }

    #successfully-ordered {
        left: 13%;
    }
}

@media(max-width: 350px) {
    #successfully-ordered {
        left: 10%;
    }
}